@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>"I hit the gym today but I drove away because I don't have car insurance."</h1>
    <p class="lead">Don't miss another day at the gym and apply for auto insurance today.</p>
    <p><a href="" class="btn btn-primary btn-lg">Get your quote right now</a></p>
</div>

<div style="text-align: center;">
    <img src="~/Content/Images/img.jpg" style="display: inline-block;" />
</div>

